.PokemonList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    padding: 2% 5%;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-family: 'retro-gaming';

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 600px) {
        padding: 30px;
        order: 0;
    }

    &__row {
        display: block;
        background-color: #FFFFFF;
        border: solid 3px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin: 2px;
        padding: 3px;
        text-align: center;

        max-width: 500px;

        &__text {
            border: solid 1px black;
            border-radius: 2px;
            ;
        }
    }
}