@import './variables.scss';

.Wrapper {
    background-color: $pokedex-red;
    height: 100%;
    width: 100%;
    padding: 50px 25px;

    &__inset {
        background-color: $pokedex-grey;
        height: 100%;
        width: 100%;
        padding: 25px;
        border-radius: 5px;
        border: solid 1px black;

        // control clipped bottom left corner with js
    }
}